
@{
    ViewBag.Title = "Index";
}

<button type="button" class="btn btn-danger px-4 mb-3" data-bs-toggle="modal" data-bs-target="#logoutModal">
    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Logout
</button>

