@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #1852AC;
    --primary-hover: #143D8A;
    --dark-primary-color: #03294F;
    --dark-primary-hover: #064B7A;
    --bold-font: bold;
    --border-radius: 10px;
    --gray-text: #777777;
    --light-blue: #F8FBFF;
    --archivo-plain-font: 'Archivo';
    --archivo-black-font: 'Archivo Black';
    --abeezee-font: 'ABeeZee';
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-gray: #EFEDED;
    --border-color: #dee2e6;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

p {
    margin-bottom: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

.navbar {
    padding: .5rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 10px solid black
}

.navbar-brand {
    display: flex;
    flex-direction: column;
}

.navbar-brand .school-name{
    color: var(--dark-primary-color);
    font-weight: 600;
    font-family: var(--archivo-plain-font);
}

.navbar-brand span{
    color: rgba(0,0,0,.52);
    font-size: .8rem;
    font-weight: 400;
    font-family: var(--archivo-plain-font);
}

.navbar-logo {
    height: 40px;
    width: auto;
}

.nav-link {
    padding: 0.5rem 1rem !important;
    font-family: var(--archivo-plain-font);
    color: var(--dark-primary-color) !important;
    transition: all .3s;
}

.nav-link.active{
    text-decoration: underline;
    font-weight: 800;
 }

.nav-link:hover {
    text-decoration: underline;
}

.nav-actions {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.signup-btn, .login-btn {
    padding: .5rem 3rem;
    background-color: var(--primary-color);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border: none;
}

.login-btn:hover{
    background: var(--primary-hover);
}

.signup-btn{
   background: none;
   color: var(--primary-color);
   border: 2px solid var(--primary-color);
}

footer {
    background-color: var(--dark-primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images8.alphacoders.com/105/thumb-1920-1053415.jpg') center no-repeat;
    position: relative;
}

.login-page::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
}

.login-container {
    position: relative;
    background: rgba(255,255,255,1);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container img{
    width: 80px;
}

.login-container h1{
    font-size: 1.2rem;
    font-family: var(--archivo-plain-font);
    color: var(--dark-primary-color);
}

.login-container p{
    font-size: .8rem;
}

.login-container form a{
    font-size: .9rem;
    color: var(--dark-primary-color);
}

.login-form-btn{
    border: none;
    padding: .7rem .2rem;
    color: #fff;
    background: var(--dark-primary-color);
}


/* Admin Panel Styles */
.admin-container {
    background-color: var(--light-gray);
    padding: 1rem 3.5rem;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn i, .logout-btn i{
    margin-right: 5px;
}

.back-btn,
.logout-btn {
    color: white;
    border: none;
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all .3s;
}

.back-btn {
    background-color: #5a6268;
}

.logout-btn {
    background-color: #dc3545;
}

.logout-btn:hover {
    background-color: #c82333;
}

.back-btn:hover {
    background-color: #4e555b;
}


.page-header {
    padding: 20px 60px 0;
}

.page-header h1 {
    font-size: 2.3rem;
    font-family: var(--archivo-black-font);
    color: var(--dark-primary-color);
    margin: 0;
    font-weight: 600;
}

.subtitle {
    color: var(--gray-text);
    margin: 5px 0 0 0;
    font-size: 1.3rem;
}

.student{
    font-size: 30px;
}
